


* { padding:0; margin: 0; }

html, body { width: 100%; height: 100%; }

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #fff;
	background-color: #353535;
}


/* BACKGROUND LAYERS */

.background, .tint, .border {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	width: auto; height: auto;
	min-width: 100%; min-height: 100%;
	box-sizing: border-box;
}

.background {
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	z-index: -100;
}

.tint {
	opacity: 0.01;
	background-color: rgba(0, 0, 0, 0.95);
	margin: 0px;
	z-index: -99;
}

.border {
	position: fixed;
	right: 0; bottom: 0;
	width: auto; height: auto;
	border: 24px solid rgba(255, 255, 255, 0.95);
	border: 0px solid rgba(255, 255, 255, 0.95);
	margin: 0px;
	z-index: 100;
}


/* PRELOADER */

.preloader {
	overflow: hidden;
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	z-index: 100;
}

.preloader .logo {
	position: absolute;
	width: 5em; height: 5em;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	z-index: 30;
}

.preloader ul {
	list-style: none;
	width: 100%; height: 100%;
	position: absolute;
	display: table;
}

.preloader li { 
	display: table-cell; 
	position: relative; 
}

.preloader .hl { z-index: 10; }
.preloader .vl { z-index: 20; }

.preloader .box { 
	position: absolute;
	width: 100%; height: 100%;
}

.preloader .hl .box { 
	right: 0;
	background-color: #fff;
}

.preloader .vl .box { 
	top: 0; 
	background-color: #222;
}


/*.preloader .vl li:nth-child(1) { background-color:#F80; }
.preloader .vl li:nth-child(2) { background-color:#F60; }
.preloader .vl li:nth-child(3) { background-color:#F20; }
.preloader .vl li:nth-child(4) { background-color:#F60; }
.preloader .vl li:nth-child(5) { background-color:#F80; }*/


/* CONTAINER */

.container {
	padding: 1.5em;
	padding: 0em;
	box-sizing: border-box;
}


/* INTRO */

.intro {
    text-align: center;
	padding: 1.6em 1.24em;
}

.intro p {
	font-size: 1.4em; line-height: 1.2em; font-weight: 700;
}

.intro br {
	display: none;
}

.intro a {
	color: #917a50;
	text-decoration: none;
}


/* SOCIAL */

.social a {
	color: #917a50;
	font-weight: 700;
	font-size: 0.8em;
	text-transform: uppercase;
	text-decoration: none;
}

.social ul {
	text-align: center;
	margin-bottom: 4.2em;
}

.social li {
	margin-bottom: 1.2em;
}


/* PROJECTS */

.header {
	text-align: center;
	margin-bottom: 2em;
}

.header .title {
	font-weight: 700;
	font-size: 1.8em;
	margin-bottom: 0.25em;
}

.header .caption {
	letter-spacing: 2px;
    text-transform: uppercase;
	font-size: 0.4em;
	font-weight: 700;
}

.header .caption b {
	color: #917a50;
}

.projects {
	box-sizing: border-box;
	max-width: 1600px;
	margin: 0 auto; padding: 0;
	padding: 0 1.0em;
}

.projects ul {
	font-size: 0;
	list-style: none;
	padding-left: 1em;
	padding-right: 1em;
}

.projects li {
	padding: 0 1.5em;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;/*2x50%*/
}

.projects img {
	width: 100%;
}