body {
  margin:0px;
  background-color:rgba(40, 40, 40, 1);
  background-image:none;
  position:static;
  left:auto;
  width:392px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3720 {
  position:absolute;
  left:24px;
  top:24px;
  width:198px;
  height:28px;
}
#u3720_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3720.mouseOver {
}
#u3720_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3720.mouseDown {
}
#u3720_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3720.disabled {
  opacity:0.64;
}
#u3721 {
  position:absolute;
  left:32px;
  top:6px;
  width:134px;
  white-space:nowrap;
}
#u3722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3722 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3723 {
  position:absolute;
  left:0px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3724 {
  position:absolute;
  left:360px;
  top:22px;
  width:32px;
  height:32px;
}
#u3725 {
  position:absolute;
  left:0px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
