body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3799 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:196px;
}
#u3800 {
  position:absolute;
  left:0px;
  top:90px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3801 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:196px;
  overflow:hidden;
}
#u3801_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:196px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3801_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009933;
}
#u3802 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:36px;
  color:#009933;
}
#u3803 {
  position:absolute;
  left:12px;
  top:8px;
  width:648px;
  word-wrap:break-word;
}
#u3804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3804 {
  position:absolute;
  left:24px;
  top:144px;
  width:198px;
  height:28px;
}
#u3804_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3804.mouseOver {
}
#u3804_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3804.mouseDown {
}
#u3804_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3804.disabled {
  opacity:0.64;
}
#u3805 {
  position:absolute;
  left:32px;
  top:6px;
  width:134px;
  white-space:nowrap;
}
