html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* 1 */
/*img[src*=".svg"] { 
		width: 100%;
	}*/
/* 2 */
/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		img[src*=".svg"] {
			width: 100%; 
		}
	}*/
/*@font-face {
			@url: "fnt/modified-bebas-neue/bold";
			font-family: "mbn-bold";
			src: url("@{url}.eot");
			src: url("@{url}.eot?#iefix") format("embedded-opentype"),
				 url("@{url}.woff") format("woff"),
				 url("@{url}.ttf") format("truetype"),
				 url("@{url}.svg#font") format("svg");
			font-weight: bold;
			font-style: normal;
		}*/
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nano > .nano-content:focus {
  outline: thin;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  margin: 8px 4px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 6px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 120, 255, 0.8);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}
/**
		 * BODY COMMON STYLE
		 */
body {
  width: 100%;
  height: 100%;
}
/**
		 * IFRAME STYLE
		 */
body {
  overflow: hidden;
}
body .frame {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
}
/*
			OPTIMIZATION & BASE64 (SVG)
			1. https://jakearchibald.github.io/svgomg/
			2. http://www.mobilefish.com/services/base64/base64.php
			3. https://www.base64encode.org/
		*/
.tab-back-ic {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIxMSAtMTEgNDggNDgiPjxzdHlsZT4uc3Qwe2ZpbGw6bm9uZTt9IC5zdDF7ZmlsbDojNDI0MzQ2O3N0cm9rZTojNDI0MzQ2O3N0cm9rZS13aWR0aDozO3N0cm9rZS1taXRlcmxpbWl0OjEwO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMS0xMWg0OHY0OEgxMXoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMTYuNSAxMy45aDM3LjFjLjUgMCAuOS0uNC45LS45cy0uNC0uOS0uOS0uOUgxNi41Yy0uNSAwLS45LjQtLjkuOXMuNC45LjkuOXoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMzQuNiAzMmMuMiAwIC41LS4xLjctLjMuNC0uNC40LTEgMC0xLjNMMTcuOSAxMyAzNS4zLTQuNGMuNC0uNC40LTEgMC0xLjMtLjQtLjQtMS0uNC0xLjMgMGwtMTguMSAxOGMtLjIuMi0uMy40LS4zLjcgMCAuMy4xLjUuMy43bDE4LjEgMThjLjEuMi40LjMuNi4zeiIvPjwvc3ZnPg==');
}
.tab-cart-ic {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxzdHlsZT4uc3Qwe2ZpbGw6IzQyNDM0Njt9IC5zdDF7ZmlsbDpub25lO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik00My41IDM4LjhMNDEgMTguN2MtLjItMy0yLjctNS4yLTUuOS01LjJoLS44Yy0uMS02LjEtNC43LTExLTEwLjQtMTFzLTEwLjMgNC45LTEwLjQgMTFoLS44Yy0zLjIgMC01LjcgMi4yLTUuOSA1LjJMNC42IDM4Ljl2LjRjMCAzIDIuMyA2LjIgNS45IDYuMmgyNy4yYzMuNSAwIDUuOS0zLjEgNS45LTYuMi0uMS0uMi0uMS0uMy0uMS0uNXpNMjQgNi44YzMuNCAwIDYuMSAzIDYuMiA2LjlIMTcuOGMwLTMuOSAyLjgtNi45IDYuMi02Ljl6bTEzLjcgMzQuNEgxMC40Yy0uOSAwLTEuNy0xLjEtMS43LTIuMUwxMS4xIDE5YzAtMSAuOC0xLjIgMS43LTEuMmguOHYxLjRjMCAxLjIuOSAyLjEgMi4xIDIuMXMyLjEtLjkgMi4xLTIuMXYtMS40aDEyLjV2MS40YzAgMS4yLjkgMi4xIDIuMSAyLjEgMS4yIDAgMi4xLS45IDIuMS0yLjF2LTEuNGguOGMxIDAgMS43LjQgMS43IDEuM2wyLjQgMjAuMmMwIC45LS44IDEuOS0xLjcgMS45eiIvPjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0wIDBoNDh2NDhIMHoiLz48L3N2Zz4=');
}
.tab-heart-line-ic {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDggNDgiPjxzdHlsZT4uc3Qwe2ZpbGw6bm9uZTt9IC5zdDF7ZmlsbDpub25lO3N0cm9rZTojNDI0MzQ2O3N0cm9rZS13aWR0aDo0LjU7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xIDFoNDZ2NDZIMXoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNMzMuOSA3LjFjLTQuNCAwLTguMSAyLjUtOS45IDYuMS0xLjgtMy43LTUuNi02LjEtOS45LTYuMUM4IDcuMSAzIDEyLjEgMyAxOC4yYzAgMTQuNiAyMC43IDIyLjYgMjAuNyAyMi42UzQ1IDMyLjcgNDUgMTguMmMwLTYuMS01LTExLjEtMTEuMS0xMS4xeiIvPjwvc3ZnPg==');
}
.item-trash-ic {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIxMSAtMTEgNDggNDgiPjxzdHlsZT4uc3Qwe2ZpbGw6bm9uZTt9IC5zdDF7ZmlsbDojQkRDM0M3O308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMS0xMWg0OHY0OEgxMXoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNNDguOSAyNy4yYzAgMS4zLTEgMi4zLTIuMyAyLjNIMjMuNGMtMS4zIDAtMi4zLTEtMi4zLTIuM1Y0LjFoMjcuOHYyMy4xem0yLjMtMjUuNUgxOC44Vi0uNmMwLTEuMyAxLTIuMyAyLjMtMi4zSDI4di0yLjNjMC0xLjMgMS0yLjMgMi4zLTIuM2g5LjJjMS4zIDAgMi4zIDEgMi4zIDIuM3YyLjNoNi45YzEuMyAwIDIuMyAxIDIuMyAyLjN2Mi4zeiIvPjwvc3ZnPg==');
}
.item-heart-ic {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIxMSAtMTEgNDggNDgiPjxzdHlsZT4uc3Qwe2ZpbGw6bm9uZTt9IC5zdDF7ZmlsbDojQkRDM0M3O3N0cm9rZTojQkRDM0M3O3N0cm9rZS13aWR0aDo0LjU7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMS0xMWg0OHY0OEgxMXoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNNDQuOS0zLjljLTQuNCAwLTguMSAyLjUtOS45IDYuMS0xLjgtMy43LTUuNi02LjEtOS45LTYuMUMxOS0zLjkgMTQgMS4xIDE0IDcuMmMwIDE0LjYgMjAuNyAyMi42IDIwLjcgMjIuNlM1NiAyMS43IDU2IDcuMmMwLTYuMS01LTExLjEtMTEuMS0xMS4xeiIvPjwvc3ZnPg==');
}
.item-heart-selected-ic {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIxMSAtMTEgNDggNDgiPjxzdHlsZT4uc3Qwe2ZpbGw6bm9uZTt9IC5zdDF7ZmlsbDojMDk3NUYwO3N0cm9rZTojMDk3NUYwO3N0cm9rZS13aWR0aDo0LjU7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMS0xMWg0OHY0OEgxMXoiLz48cGF0aCBjbGFzcz0ic3QxIiBkPSJNNDQuOS0zLjljLTQuNCAwLTguMSAyLjUtOS45IDYuMS0xLjgtMy43LTUuNi02LjEtOS45LTYuMUMxOS0zLjkgMTQgMS4xIDE0IDcuMmMwIDE0LjYgMjAuNyAyMi42IDIwLjcgMjIuNlM1NiAyMS43IDU2IDcuMmMwLTYuMS01LTExLjEtMTEuMS0xMS4xeiIvPjwvc3ZnPg==');
}
.checkout-cart-ic {
  background-image: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIxMSAtMTEgNDggNDgiPjxzdHlsZT4uc3Qwe2ZpbGw6I0ZGRkZGRjt9IC5zdDF7ZmlsbDpub25lO308L3N0eWxlPjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik01NC41IDI3LjhMNTIgNy43Yy0uMi0zLTIuNy01LjItNS45LTUuMmgtLjhjLS4xLTYuMS00LjctMTEtMTAuNC0xMXMtMTAuMyA0LjktMTAuNCAxMWgtLjhjLTMuMiAwLTUuNyAyLjItNS45IDUuMmwtMi4yIDIwLjJ2LjRjMCAzIDIuMyA2LjIgNS45IDYuMmgyNy4yYzMuNSAwIDUuOS0zLjEgNS45LTYuMi0uMS0uMi0uMS0uMy0uMS0uNXpNMzUtNC4yYzMuNCAwIDYuMSAzIDYuMiA2LjlIMjguOGMwLTMuOSAyLjgtNi45IDYuMi02Ljl6bTEzLjcgMzQuNEgyMS40Yy0uOSAwLTEuNy0xLjEtMS43LTIuMUwyMi4xIDhjMC0xIC44LTEuMiAxLjctMS4yaC44djEuNGMwIDEuMi45IDIuMSAyLjEgMi4xczIuMS0uOSAyLjEtMi4xVjYuOGgxMi41djEuNGMwIDEuMi45IDIuMSAyLjEgMi4xczIuMS0uOSAyLjEtMi4xVjYuOGguOGMxIDAgMS43LjQgMS43IDEuM2wyLjQgMjAuMmMwIC45LS44IDEuOS0xLjcgMS45eiIvPjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0xMS0xMWg0OHY0OEgxMXoiLz48L3N2Zz4=');
}
.nano > .nano-pane {
  width: 6px;
  right: 1px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 120px;
  background: #E5E5E5;
  background: rgba(255, 255, 255, 0.2);
}
.nano > .nano-pane > .nano-slider {
  background: #3392FF;
  background: rgba(0, 120, 255, 0.8);
}
.cart-wrapper {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: -0.02em;
  color: #262626;
  z-index: 10000;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cart-container {
  position: fixed;
  right: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -moz-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -ms-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -o-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
}
.cart-container .cart-panel {
  position: relative;
  background-color: #f5f5f5;
  min-width: 18.75em;
  width: 100%;
  height: 100%;
}
.cart-tint {
  position: fixed;
  background-color: #262626;
  background-color: rgba(0, 0, 0, 0.1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -moz-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -ms-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -o-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
}
.cart-wrapper.hidden .cart-container {
  right: -100%;
}
.cart-wrapper.hidden .cart-tint {
  opacity: 0;
}
.cart-header {
  position: absolute;
  width: 100%;
  height: 3.75em;
  background-color: #f5f5f5;
  z-index: 20;
}
.cart-tabs {
  color: #424346;
  display: table;
  list-style-type: none;
  width: 100%;
  height: 100%;
}
.cart-tabs li {
  position: relative;
  display: table-cell;
  cursor: pointer;
  height: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/** CRAT TAB CONTAINER */
.cart-tab-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.cart-tab-container {
  white-space: nowrap;
  text-align: center;
  width: 100%;
  min-width: 100%;
  height: 1.25em;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/** CRAT TAB BACK BUTTON */
.cart-tab-back .cart-tab-wrapper .cart-tab-container {
  -webkit-transition: left 0.15s;
  -moz-transition: left 0.15s;
  -ms-transition: left 0.15s;
  -o-transition: left 0.15s;
  transition: left 0.15s;
}
.cart-tab-back {
  width: 4em;
}
.cart-tab-back:hover .cart-tab-wrapper .cart-tab-container {
  left: -0.5em;
}
.cart-tab-back:active .cart-tab-wrapper .cart-tab-container {
  left: -1em;
}
/** CRAT TAB CONTENT */
.tab-label {
  font-size: 0.875em;
  text-transform: uppercase;
}
.tab-ic {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
}
/** CRAT TAB CURSOR */
.cart-tab-cursor {
  width: 100%;
  height: 0.125em;
  background-color: #262626;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -moz-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -ms-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -o-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
}
/** CART STATE */
.current-section__cart .cart-tab-cursor {
  left: 0;
}
/** FAVORITES STATE */
.current-section__favorites .cart-tab-cursor {
  left: 100%;
}
.cart-footer {
  position: absolute;
  width: 100%;
  height: 6.25em;
  bottom: 0;
  text-align: center;
  z-index: 30;
  pointer-events: none;
}
.cart-checkout-btn {
  pointer-events: auto !important;
  position: relative;
  margin: auto;
  margin-bottom: 0.75em;
  width: 5em;
  height: 5em;
  color: #ffffff;
  background-color: #1884fe;
  -webkit-touch-callout: none;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3.125em;
  -moz-border-radius: 3.125em;
  border-radius: 3.125em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cart-checkout-btn .checkout-cart-ic {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}
.cart-checkout-btn .checkout-label {
  display: none;
  text-transform: uppercase;
  font-size: 0.9375em;
  letter-spacing: 0.06em;
}
.cart-checkout-btn:hover {
  background-color: #1b71d3;
}
.cart-checkout-btn:active {
  background-color: #1e5ea8;
}
.cart-content {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.cart-sections {
  width: 200%;
  height: 100%;
  display: table;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -moz-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -ms-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  -o-transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
  transition: all 0.5s cubic-bezier(0.61, 0, 0.25, 0.99);
}
.cart-section {
  width: 50%;
  height: 100%;
  display: table-cell;
  position: relative;
  padding-top: 3.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cart-section-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
/** CART STATE */
.current-section__cart .cart-sections {
  left: 0;
}
/** FAVORITES STATE */
.current-section__favorites .cart-sections {
  left: -100%;
}
.cart-list {
  list-style-type: none;
  padding: 1.25em;
  padding-bottom: 0;
}
/** CART LIST FOOTER */
.cart-list-footer {
  display: inline-block;
  width: 100%;
  height: 7.5em;
}
.cart-item {
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 1.25em;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
/** CART ITEM IMG */
.cart-item-img {
  width: 100%;
  padding-bottom: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.cart-item-panel-w {
  width: 100%;
  height: 5em;
  display: table;
}
.cart-item-panel-w > div {
  position: relative;
  display: table-cell;
}
/** CART ITEM DESCRIPTION */
.cart-item-description > span {
  position: absolute;
  padding: 0 1.5em;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.cart-item-description .cart-item-label {
  line-height: 1.3em;
  max-height: 2.6em;
  font-size: 0.875em;
  overflow: hidden;
  color: #262626;
}
.cart-item-description .cart-item-price {
  font-size: 0.75em;
  color: #a8a8b2;
  margin-top: 0.125em;
}
/** CART ITEM ICONS */
.cart-item-favorites,
.cart-item-trash {
  width: 2em;
}
.cart-item-favorites > span,
.cart-item-trash > span {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  vertical-align: top;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cart-item-trash {
  width: 4em;
}
/** CART ITEM HEART ICON */
.item-heart-ic {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  cursor: pointer;
}
.item-heart-ic:hover {
  width: 26px;
  height: 26px;
  background-size: 26px 26px;
}
/** CART ITEM TRASH ICON */
.item-trash-ic {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  cursor: pointer;
}
.item-trash-ic:hover {
  width: 26px;
  height: 26px;
  background-size: 26px 26px;
}
@media screen and (min-width: 22.5em) {
  .cart-tabs .tab-label {
    font-size: 1em;
  }
  .cart-tabs .tab-ic {
    vertical-align: top;
    margin-right: 6px;
    background-size: 19px 19px;
    width: 19px;
    height: 19px;
  }
  .cart-item-description .cart-item-label {
    font-size: 1em;
  }
  .cart-item-description .cart-item-price {
    font-size: 0.875em;
  }
}
@media screen and (min-width: 26.25em) {
  .cart-container {
    padding-left: 4em;
  }
  .cart-item {
    height: 5em;
    margin-bottom: 0.125em;
    display: table;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /** CART ITEM IMG */
  }
  .cart-item > div {
    display: table-cell;
  }
  .cart-item .cart-item-img {
    width: 5em;
    padding: 0;
    display: table-cell;
  }
  .cart-footer {
    height: 6.25em;
  }
  .cart-checkout-btn {
    width: 14.375em;
    height: 3.125em;
  }
  .cart-checkout-btn .checkout-cart-ic {
    display: none;
  }
  .cart-checkout-btn .checkout-label {
    display: block;
    margin: auto;
    position: absolute;
    height: 1.25em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
@media screen and (min-width: 38.375em) {
  .cart-container {
    width: 550px;
    padding-left: 0;
  }
}
