#splash .splash-logo img {
  top: 50%;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  margin-top: -57px;
}
#splash .splash-tint {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
#splash .splash-video {
  z-index: -20;
  background: url(../img/splash-image.png) center no-repeat;
  background-size: cover;
  -ms-behavior: url(../js/polyfill/backgroundsize.htc);
}
