html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'mbn-bold';
  src: url('modified-bebas-neue/bold.eot');
  src: url('modified-bebas-neue/bold.eot?#iefix') format('embedded-opentype'), url('modified-bebas-neue/bold.woff') format('woff'), url('modified-bebas-neue/bold.ttf') format('truetype'), url('modified-bebas-neue/bold.svg#font') format('svg');
  font-weight: bold;
  font-style: normal;
}
body {
  font-size: 1em;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
strong {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
h1,
h2,
h3 {
  font-family: "mbn-bold", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3 {
  line-height: 1.0em;
  text-transform: uppercase;
  margin: 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.125em;
}
p {
  line-height: 1.4em;
}
body {
  background-color: #fafafa;
  color: #333333;
}
.green {
  color: #12c33b;
}
a {
  color: #333333;
  border-bottom: thin solid #ffffff;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
::selection {
  background: #444666;
  color: #deeaed;
  text-shadow: none;
}
::-moz-selection {
  background: #444666;
  color: #deeaed;
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #444666;
}
/** {

            -webkit-transition: 1s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
        }*/
.container {
  width: 79.5em;
  margin: auto;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
article {
  padding-top: 7.5em;
}
#splash.fix {
  margin-bottom: 8em;
}
#splash {
  max-width: 100%;
  overflow: hidden;
  background-color: #333333;
  position: relative;
}
#splash .logo,
#splash .arrow {
  position: absolute;
  opacity: 0.6;
  left: 50%;
}
#splash .logo,
#splash .arrow,
#splash .video {
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
#splash .logo {
  width: 36%;
  top: 40%;
  z-index: 25;
}
#splash .arrow {
  bottom: 5%;
  width: 4.5em;
  cursor: pointer;
  z-index: 20;
}
#splash .grid,
#splash .tint {
  width: 100%;
  height: 100%;
  position: absolute;
}
#splash .grid {
  background: url('../img/grid.png');
  z-index: 15;
}
#splash .tint {
  background-color: #333333;
  opacity: 0.50;
  z-index: 10;
}
#splash .video,
#splash .cover {
  display: none;
}
#splash .video {
  top: 50%;
  left: 50%;
  position: absolute;
}
#splash .cover {
  height: 100%;
  background: url(../img/splash-cover.png) center no-repeat;
  background-size: cover;
}
#sticky.fix {
  width: 100%;
  position: fixed;
  top: -4em;
}
#sticky {
  height: 8em;
  background-color: #ffffff;
  border-bottom: thin solid #dedede;
  z-index: 100;
}
#sticky .menu {
  height: 100%;
  position: relative;
}
#sticky .menu nav {
  width: 100%;
  bottom: 1.5em;
  position: absolute;
}
#sticky .menu nav .mobile-btn {
  box-sizing: border-box;
  width: 4em;
  height: 4em;
  padding: 1.625em 1.375em;
  background-color: #eee;
}
#sticky .menu nav ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#sticky .menu nav ul li {
  font-size: 0.875em;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 4.85714286em;
  display: inline;
}
#sticky .menu img {
  width: 6.25em;
  right: 0;
  bottom: 1.375em;
  position: absolute;
}
#about section {
  width: 52.5em;
  position: relative;
}
#about section header p {
  font-size: 1.5em;
  line-height: 1.5em;
  padding-top: 1.25em;
  padding-bottom: 2.25em;
}
#about section .cover {
  display: none;
  width: 25.5em;
  height: 110%;
  background: url(../img/about-cover.png) center no-repeat;
  background-size: cover;
  position: absolute;
  top: -5%;
  right: -27em;
}
@media screen and (min-width: 20em) {
  .container {
    width: 16.5em;
  }
}
@media screen and (min-width: 30em) {
  .container {
    width: 25.5em;
  }
}
@media screen and (min-width: 37.5em) {
  .container {
    width: 34.5em;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.875em;
  }
  h3 {
    font-size: 1.375em;
  }
}
@media screen and (min-width: 48em) {
  .container {
    width: 43.5em;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.25em;
  }
  h3 {
    font-size: 1.6875em;
  }
}
@media screen and (min-width: 60em) {
  .container {
    width: 52.5em;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.625em;
  }
  h3 {
    font-size: 2em;
  }
}
@media screen and (min-width: 80em) {
  .container {
    width: 70.5em;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2.25em;
  }
  #about section .cover {
    display: block;
    width: 16.5em;
    right: -18em;
  }
}
@media screen and (min-width: 88em) {
  .container {
    width: 79.5em;
  }
  #about section .cover {
    width: 25.5em;
    right: -27em;
  }
}
.outline-btn {
  display: inline-block;
  border: thin solid #dedede;
  padding: 0.9375em 2.5em;
  border-radius: 2.8125em;
  -moz-border-radius: 2.8125em;
  -webkit-border-radius: 2.8125em;
  font-size: 1.5em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.outline-btn:hover {
  order: thin solid #12c33b;
  background-color: #12c33b;
  color: #ffffff;
}
.menu-bar {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  display: block;
  width: 20px;
  height: 4px;
  margin: 0 0 4px;
  background: #333333;
}
.mobile-btn.open .menu-bar:first-child {
  -webkit-transform: scale(1) rotate(45deg);
  -moz-transform: scale(1) rotate(45deg);
  -ms-transform: scale(1) rotate(45deg);
  -o-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
  -webkit-transform-origin: 4.5px;
  -moz-transform-origin: 4.5px;
  -ms-transform-origin: 4.5px;
  -o-transform-origin: 4.5px;
  transform-origin: 4.5px;
  margin-left: 2px;
}
.mobile-btn.open .menu-bar:nth-child(2) {
  -webkit-transform: scale(1) rotate(-45deg);
  -moz-transform: scale(1) rotate(-45deg);
  -ms-transform: scale(1) rotate(-45deg);
  -o-transform: scale(1) rotate(-45deg);
  transform: scale(1) rotate(-45deg);
  -webkit-transform-origin: 4.5px;
  -moz-transform-origin: 4.5px;
  -ms-transform-origin: 4.5px;
  -o-transform-origin: 4.5px;
  transform-origin: 4.5px;
  margin-left: 2px;
}
