body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1581 {
  position:absolute;
  left:24px;
  top:76px;
  width:624px;
  height:156px;
}
#u1582 {
  position:absolute;
  left:12px;
  top:8px;
  width:600px;
  word-wrap:break-word;
}
#u1583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:156px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1583 {
  position:absolute;
  left:24px;
  top:240px;
  width:624px;
  height:156px;
}
#u1584 {
  position:absolute;
  left:12px;
  top:8px;
  width:600px;
  word-wrap:break-word;
}
#u1585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(67, 57, 171, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1585 {
  position:absolute;
  left:24px;
  top:24px;
  width:184px;
  height:28px;
}
#u1585_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(77, 65, 200, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1585.mouseOver {
}
#u1585_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(67, 57, 171, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1585.disabled {
  opacity:0.64;
}
#u1586 {
  position:absolute;
  left:32px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u1587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(67, 57, 171, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1587 {
  position:absolute;
  left:216px;
  top:24px;
  width:184px;
  height:28px;
}
#u1587_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(77, 65, 200, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1587.mouseOver {
}
#u1587_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(67, 57, 171, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1587.disabled {
  opacity:0.64;
}
#u1588 {
  position:absolute;
  left:32px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
