body {
  margin:0px;
  background-color:rgba(40, 40, 40, 1);
  background-image:none;
  position:static;
  left:auto;
  width:672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3753 {
  position:absolute;
  left:16px;
  top:72px;
  width:302px;
  height:28px;
  color:#FFFFFF;
}
#u3754 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  word-wrap:break-word;
}
#u3755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#FFFFFF;
  text-align:right;
  line-height:36px;
}
#u3755 {
  position:absolute;
  left:272px;
  top:16px;
  width:48px;
  height:48px;
  font-size:32px;
  color:#FFFFFF;
  text-align:right;
  line-height:36px;
}
#u3756 {
  position:absolute;
  left:0px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u3757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u3757 {
  position:absolute;
  left:16px;
  top:32px;
  width:97px;
  height:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u3758 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3759 {
  position:absolute;
  left:16px;
  top:112px;
  width:114px;
  height:28px;
}
#u3759_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3759.mouseOver {
}
#u3759_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3759.mouseDown {
}
#u3759_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3759.disabled {
  opacity:0.64;
}
#u3760 {
  position:absolute;
  left:32px;
  top:6px;
  width:50px;
  white-space:nowrap;
}
#u3761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3761 {
  position:absolute;
  left:138px;
  top:112px;
  width:114px;
  height:28px;
}
#u3761_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3761.mouseOver {
}
#u3761_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3761.mouseDown {
}
#u3761_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3761.disabled {
  opacity:0.64;
}
#u3762 {
  position:absolute;
  left:32px;
  top:6px;
  width:50px;
  white-space:nowrap;
}
#u3763 {
  position:absolute;
  left:336px;
  top:0px;
  width:336px;
  height:416px;
}
#u3763_input {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:416px;
}
