body {
  margin:0px;
  background-color:rgba(40, 40, 40, 1);
  background-image:none;
  position:static;
  left:auto;
  width:648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1622 {
  position:absolute;
  left:360px;
  top:24px;
  width:288px;
  height:28px;
  color:#FFFFFF;
}
#u1623 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u1624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1624 {
  position:absolute;
  left:24px;
  top:24px;
  width:198px;
  height:28px;
}
#u1624_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1624.mouseOver {
}
#u1624_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1624.mouseDown {
}
#u1624_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:28px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:24px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1624.disabled {
  opacity:0.64;
}
#u1625 {
  position:absolute;
  left:32px;
  top:6px;
  width:134px;
  white-space:nowrap;
}
