body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3794 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:196px;
}
#u3795 {
  position:absolute;
  left:0px;
  top:90px;
  width:672px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3796 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:196px;
  overflow:hidden;
}
#u3796_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:196px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3796_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009933;
}
#u3797 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:36px;
  color:#009933;
}
#u3798 {
  position:absolute;
  left:12px;
  top:8px;
  width:648px;
  word-wrap:break-word;
}
