body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:672px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3752 {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:416px;
}
#u3752_input {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:416px;
}
